
<br/>
<div class="page-header">
<h2 align="center">Create Custom Wikis for Free!</h1>
<br/>
<p>Politiwiki aims to be simple and useful. A platform agnostic service, available anytime you have a connection to the net. </p>
<br/>
<p> Create a community around important information. Collaborate with other users, and do so without spending a cent. 
<br/>
<br/>
<h2> Inform, Include, Influence </h2> </p>
<p> --your dev, <a href="mailto:christopher@scratchitoff.co"> Christopher </a> </p>

</div>