<br/>
<div class="jumbotron">
<h2 align="center"> Create Private Wikis</h1>
<br/>
<p>Politiwiki aims to be simple and useful. A platform agnostic service, available anytime you have a connection to the net. </p>
<br/>
<p> As a Premium user, you can create private wikis. Use your wiki to collaborate with your team, with friends or family. Wikis are a great way to curate information! 
<br/>
<br/>
<h2> Inform, Include, Influence </h2> </p>
<p> --your dev, <a href="mailto:christopher@scratchitoff.co"> Christopher </a> </p>
</div>
